@page "/"
@using PatientPortalWebApp.Components.Pages

<h3>Login</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p>@ErrorMessage</p>
}

<form>
    <div>
        <InputText @bind-Value="Email" placeholder="Email" class="input-style" /><br>
    </div>
    <div>
        <InputText @bind-Value = "Password" placeholder="Password" class="input-style" /><br>
    </div>
    <button type="submit" class="btn-style">Submit</button>
    <p>Don't have an account? <a href="/create-account" class="link-style">Create Account</a></p>
</form>
