@page "/patient-dashboard/{PatientId}"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Portal</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Taskbar -->
    <div class="p-2 d-flex justify-content-between align-items-center" style="background-color: #45a049; color: white;">
        <h1 class="text-center m-0" style="font-size: 24px;">Medical Portal</h1>
        <div>
            Patient: <span>@Patient?.FirstName</span> <span>@Patient?.LastName</span>
            <a href="/" class="btn btn-outline-light ml-2">Log Out</a>
        </div>
    </div>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="dashboard1-tab" data-toggle="tab" role="tab" aria-controls="dashboard1" aria-selected="true">Home</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="dashboard1" role="tabpanel" aria-labelledby="dashboard1-tab">
            <div class="container-fluid mt-3">


                <div class="row">
                    <!-- Account Information -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-success text-white">Account Information</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Patient Id:</strong> @Patient?.Id</li>
                                    <li class="list-group-item"><strong>First Name:</strong> @Patient?.FirstName</li>
                                    <li class="list-group-item"><strong>Last Name:</strong> @Patient?.LastName</li>
                                    <li class="list-group-item"><strong>Email:</strong> @Patient?.Email</li>
                                    <li class="list-group-item"><strong>Phone Number:</strong> @Patient?.PhoneNumber</li>
                                    <li class="list-group-item"><strong>Address:</strong> @Patient?.Address</li>
                                    <li class="list-group-item"><strong>Height:</strong> @Patient?.Height</li>
                                    <li class="list-group-item"><strong>Weight:</strong> @Patient?.Weight</li>
                                    <ul class="list-group">
                                        @foreach (var doctor in _doctors)
                                        {
                                            <li class="list-group-item"><strong>Current Doctor: </strong>@($"{doctor.FirstName} {doctor.LastName} - Id: {doctor.Id}")</li>
                                        }
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Request Appointment -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-success text-white">Request Appointment</div>
                            <div class="card-body">
                                <h2>Request Appointment</h2>
                                <form method="post" @onsubmit="RequestAppointment" @formname="appointment-request">
                                    <AntiforgeryToken />
                                    Date:
                                    <div>
                                        <label>
                                            <InputDate @bind-Value="NewBooking!.AppointmentDate" placeholder="Appointment Time" class="form-group" /><br>
                                        </label>
                                    </div>
                                    Hour:
                                    <div>
                                        <label>
                                            <InputNumber @bind-Value="Hour" placeholder="Hour" class="form-group" /><br>
                                        </label>
                                    </div>
                                    Minute:
                                    <div>
                                        <label>
                                            <InputNumber @bind-Value="Minute" placeholder="Minute" class="form-group" /><br>
                                        </label>
                                    </div>
                                    Doctors Id:
                                    <div>
                                        <label>
                                            <InputNumber @bind-Value="NewBooking!.DoctorId" placeholder="Doctor Id" class="form-group" /><br>
                                        </label>
                                    </div>
                                    Notes:
                                    <div>
                                        <label>
                                            <InputText @bind-Value="NewBooking!.Description" placeholder="Description" class="form-group" /><br>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="appointmentButton" onclick="changeColor()">Request Appointment</button>

                                    <script>
                                        function changeColor() {
                                            var button = document.getElementById("appointmentButton");
                                            button.classList.remove("btn-primary");
                                            button.classList.add("btn-success");
                                        }
                                    </script>

                                    @* <button type="submit" class="btn btn-primary">Request Appointment</button> *@
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Prescription  -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-success text-white">Prescriptions</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li style="font-size: 20px"><strong></strong></li>
                                    <h1></h1>
                                    <li><strong>Current:</strong> @Patient?.Prescription</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Appointments  -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-success text-white">Appointments</div>
                            <div class="card-body">
                                <ul class="list-group">

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

