@page "/patient-dashboard/{PatientId}"
<MudThemeProvider />

<MudLayout>

    <MudAppBar Elevation="1" BackgroundColorClass="custom-app-bar">
        <MudText Typo="Typo.h5" Class="ml-3">Medical Patient Portal</MudText>
        <MudSpacer />

        <div style="padding-right: 20px;">
            <MudText Typo="Typo.h5" Class="ml-3">@Patient?.FirstName @Patient?.LastName</MudText>
        </div>
        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Edge="Edge.Start" @onclick="GoToAccountPage" />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Padding="Spacing.All(20)" Edge="Edge.End" />
    </MudAppBar>

    <MudMainContent>
        <div class="content">
            <!-- Main content here -->
        </div>
    </MudMainContent>

</MudLayout>

